[Unit]
Description=Podman container-{{ container.name }}.service
Requires=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=/bin/rm -f %t/container-{{ container.name }}.pid %t/container-{{ container.name }}.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-{{ container.name }}.pid --cidfile %t/container-{{ container.name }}.ctr-id --cgroups=no-conmon --replace -d --label io.containers.autoupdate=image --name {{ container.name }} {{ container.args }}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-{{ container.name }}.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-{{ container.name }}.ctr-id
PIDFile=%t/container-{{ container.name }}.pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
